<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghkj.gaqdao.mapper.AdminRoleMapper">
  <resultMap id="BaseResultMap" type="com.ghkj.gaqentity.AdminRole">
    <id column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_CONTENT" jdbcType="VARCHAR" property="roleContent" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ROLE_ID, ROLE_NAME, ROLE_CONTENT, CREATE_TIME
  </sql>

  <select id="findRoleByUser" resultType="com.ghkj.gaqentity.AdminRole" parameterType="com.ghkj.gaqentity.AdminUser">
    SELECT
    r.ROLE_ID as id,
    r.ROLE_NAME as name
    FROM
    admin_user u
    LEFT JOIN user_role ur ON u.id = ur.user_id
    LEFT JOIN admin_role r ON r.id = ur.role_id
    <where>
      1 = 1
      <if test="username != null and username != '' ">
        AND u.USER_NAME LIKE CONCAT('%',#{username},'%')
      </if>
    </where>
  </select>

</mapper>